<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.plot.ly/plotly-2.3.0.min.js" charset="utf-8"></script>
    <script src="./index.js" defer></script>
</head>
<body>
    <div>
        <div id="sidebar">
            <h4>Select data to view:</h4>
            <hr>
            <ul>
                <li><a href="/generation" id="generation-link">Generation</a></li>
                <li><a href="/emissions" id="emissions-link">Emissions</a></li>
            </ul>
            <hr>
            <h5>Select a year to view:</h5>
            <select name="years" id="year-dropdown">
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
            </select>
        </div>
        <div id="content" style="background-color: whitesmoke; padding: 20px; border-radius: 5px; margin-bottom: 20px; margin-left: 17.5rem;">
            <h1 style="color: rgb(98, 95, 95);">Welcome to the Generation and Emissions Analytics Dashboard!</h1>
            <p style="color: rgb(98, 95, 95);">This dashboard analyzes U.S. Department of Energy power generation and emissions trends over time. Navigate to the sidebar to start exploring the data!</p>
            <div id="generationline"></div>
        </div>
        <div id="emissionsline"></div>
    </div>
</body>
</html>
